<div class="position-relative" style="overflow: hidden;">
    <!--bg-boxes-->
    <div id="box-1" class="box"></div>
    <div id="box-2" class="box"></div>
    <div id="box-3" class="box"></div>
    <div id="box-4" class="box"></div>
    <div id="box-5" class="box"></div>
    <div id="box-6" class="box"></div>
    <div id="box-7" class="box"></div>
    <div id="box-8" class="box"></div>

    <!--heading-->
    <div class="text-uppercase position-relative contact raleway heading-spacing">
        <h1 class="display-3">I am always</h1>
        <h1 class="display-3"><span class="text-voilet font-weight-bold">open</span> to new</h1>
        <h1 class="display-3 text-green font-weight-bold">ideas</h1>
        <h1 class="display-3">and</h1>
        <h1 class="display-3 font-weight-bold text-purple">opportunities</h1>

        <div class="d-flex mt-5">
            <a href="https://www.linkedin.com/in/rishabh-malhotra-639678176/" target="_blank" title="LinkedIn">
                <img src="../../../assets/icons/linkedin.png" alt="linkedin" class="img-fluid icon-size mr-5">
            </a>

            <a href="https://github.com/rishabh091" target="_blank" title="GitHub">
                <img src="../../../assets/icons/GitHub-Mark-120px-plus.png" alt="github" class="img-fluid icon-size mr-5" style="-webkit-filter: invert(1); filter: invert(1);">
            </a>

            <a href="https://github.com/rishabh091" target="_blank" title="Gmail">
                <img src="../../../assets/icons/gmail.png" alt="gmail" class="img-fluid icon-size">
            </a>
        </div>

    </div>
</div>