<div class="container p-5">
  <div class="row">
    <div class="col-xl-6 pb-4">
      <h1 class="display-4">I am always open to new <span class="font-weight-bold text-purple">ideas</span> and <span
          class="font-weight-bold">opportunities</span></h1>

      <p class="text-muted mt-5">Feel free to leave a message</p>
      <div>
        <a href="https://github.com/rishabh091" target="_blank">
          <img src="../../assets/icons/github.png" alt="github" class="img-fluid icon-size mr-3">
        </a>
        <a href="https://www.instagram.com/rishabh._.malhotra/" target="_blank">
          <img src="../../assets/icons/instagram.png" alt="instagram" class="img-fluid icon-size mr-3">
        </a>
        <a href="https://www.linkedin.com/in/rishabh-malhotra-639678176/" target="_blank">
          <img src="../../assets/icons/linkedin.png" alt="linkedin" class="img-fluid icon-size">
        </a>
      </div>
    </div>
    <div class="col-xl-6">
      <form method="dialog" (submit)='sendMessage()'>
        <div class="form-group">
          <input type="text" class="form-control text-muted" placeholder="Your Name" (keyup)='getName($event)'
            required />
        </div>
        <div class="form-group mt-3">
          <input type="email" class="form-control text-muted" placeholder="Email" (keyup)='getEmail($event)' required />
        </div>
        <div class="form-group mt-5">
          <textarea class="form-control text-muted" placeholder="Message" rows="5" (keyup)='getMessage($event)'
            required></textarea>
        </div>
        <button type="submit" class="btn btn-dark rounded-0 width-full mt-3 text-center">Send Message</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf='showAlert' class="animate-alert alert bg-peach alert-dismissible fade show rounded-0 p-5 fixed-top">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" (click)='resetAlert()'>&times;</button>
    <h1 class="display-4">Hey <span class="text-transform-capitalize">{{ data.name }}</span></h1>
    <div class="alert-sub-heading">Your message has been sent. I will contact you as soon as possible.</div>
  </div>
</div>
