<div class="container p-5">
  <div class="row">
    <div class="col-xl-6">
      <h1 class="display-4">I am always open to new <span class="font-weight-bold text-purple">ideas</span> and <span
          class="font-weight-bold">opportunities</span></h1>

      <p class="text-muted mt-5">Feel free to leave a message</p>
      <div>
        <a href="#">
          <img src="../../assets/icons/github.png" alt="github" class="img-fluid icon-size mr-3">
        </a>
        <a href="#">
          <img src="../../assets/icons/instagram.png" alt="instagram" class="img-fluid icon-size mr-3">
        </a>
        <a href="#">
          <img src="../../assets/icons/linkedin.png" alt="linkedin" class="img-fluid icon-size">
        </a>
      </div>
    </div>
    <div class="col-xl-6 pt-5">
      <div class="form-group">
        <input type="text" class="form-control text-muted" placeholder="Your Name" />
      </div>
      <div class="form-group mt-3">
        <input type="email" class="form-control text-muted" placeholder="Email" />
      </div>
      <div class="form-group mt-5">
        <textarea class="form-control text-muted" placeholder="Message" rows="5"></textarea>
      </div>
      <button type="button" class="btn btn-dark rounded-0 width-full mt-3 text-center">Send Message</button>
    </div>
  </div>
</div>
