.heading-size {
  height: 100vh;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.sub-heading {
  font-size: 1rem;
  word-spacing: 3px;
}

.designation {
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.bg-grad{
  background: linear-gradient(32deg, var(--light-purple), var(--purple), var(--pink));
  background-size: 800% 800%;
  animation: discoHover 3s ease infinite;
}
.project-link{
  letter-spacing: 1px;
  word-spacing: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: all;
}
.project-link:hover{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.img-size{
  height: 50vh;
}

@media (min-width: 700px) and (max-width: 1240px){
  .heading-size{
    height: 70vh;
  }
}
