<app-component-navbar></app-component-navbar>

<div class="container heading-size center-pos">
  <div class="row">
    <div class="col-sm-6 center-pos">
      <div>
        <h1 class="display-4 heading">Rishabh malhotra</h1>
        <p class="sub-heading mt-3 text-muted">I create better experiences and products for humans</p>
        <p class="designation font-weight-bold mt-5">software engineer / full stack developer</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/illustrations/eng.svg" class="img-fluid" alt="me as an engineer">
    </div>
  </div>
</div>

<app-component-about></app-component-about>
<app-component-expertise></app-component-expertise>

<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-sm-6 center-pos" style="flex-direction: column;">
      <img src="../../assets/illustrations/project.svg" class="img-fluid img-size">
      <q class="text-center text-muted p-4">Because your work defines who you are</q>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 bg-grad center-pos heading-size">
      <div>
        <h1 class="display-4 text-center text-light">My recent projects and work</h1>
        <div class="text-center mt-5">
          <a class="text-light project-link">My Projects</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-component-contact></app-component-contact>
