.footer-size{
    height: 30vh;
    flex-direction: column;
}
.line-through{
    opacity: 0.5;
    text-decoration: line-through;
}
.punch{
    font-size: 0.8rem;
    font-weight: bold;
}
.btn-outline-purple{
    border: 2px solid var(--light-purple);
    font-size: 0.8rem;
}
.btn-outline-purple:hover{
    color: white;
    background: var(--light-purple);
}