<div class="container-fluid about black" style="padding: 12vh 0vh;">
    <div class="container-fluid about-me-content">
        <h1 class="display-3 text-capitalize raleway">About me ?</h1>
        <div class="d-flex mt-3 align-items-center">
            <div class="dot mr-3"></div>
            <div class="dot mr-3"></div>
            <div class="custom-border"></div>
        </div>

        <div class="row" style="margin-top: 10vh;">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img src="../../../assets/me.jpg" class="img-fluid my-image shadow">
            </div>
            <div class="col-lg-6 about-me-para mt-5 d-flex justify-content-center" style="flex-direction: column;">
                <p>Hi !!</p>
                <p>
                    As you have already known, my name is
                    <span class="text-green font-weight-bold">Rishabh Malhotra</span>
                </p>
                <p>I am based in Ambala, India</p>
                <p>I possess a simple goal, to be happy, fulfilled and passionate in what I do.</p>
                <p>
                    And I am passionate about engineering
                    <span class="text-purple font-weight-bold">solutions</span> as 
                    <span class="text-purple font-weight-bold">code</span>
                    that provides value to society.
                </p>
            </div>
        </div>
    </div>
</div>