<div class="container-fluid about black" style="padding: 12vh 0vh;">
    <div class="container-fluid about-me-content">
        <h1 class="display-3 text-capitalize raleway">About me ?</h1>
        <div class="d-flex mt-3 align-items-center">
            <div class="dot mr-3"></div>
            <div class="dot mr-3"></div>
            <div class="custom-border"></div>
        </div>
        <div class="row" style="margin-top: 15vh;">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img src="../../../assets/me.svg" class="img-fluid" />
            </div>
            <div class="col-lg-6 about-me-para mt-5 d-flex justify-content-center" style="flex-direction: column;">
                <p>
                    Back in 2014, I was geeking out on modding video games, which made me familiar
                    with scripts and seeing code. Fast-forward to today; I have the privilege of building
                    software for an <span class="text-purple font-weight-bold">AI medical products startup</span>,
                    a <span class="text-green font-weight-bold">delivery management solution organization</span>, and a
                    <span class="text-blue font-weight-bold">big organization.</span>
                </p>
                <p>
                    My main focus these days is building and managing products at
                    <span class="text-green font-weight-bold">Peoplegrove.</span>
                </p>
                <p>
                    I am a jack of all trades, programming from
                    developing complex frontend and backend applications to streamlining and optimizing huge database operations. I
                    am experienced and comfortable with all of that. I also love fiddling with CSS on smaller things for fun.
                </p>
                <p>
                    When I’m not at the computer, I’m usually on a motorcycle, exploring new places and trying different cuisines.
                </p>
            </div>
        </div>
    </div>
</div>