<div class="container p-5">
  <h1 class="display-4">MY <span class="font-weight-bold text-pink">EXPERTISE</span></h1>

  <div class="row mt-5">
    <div class="col-sm-4 p-4">
      <p class="heading text-center">UI Technologies</p>
      <div class="badge badge-pill badge-success mr-3 mt-1 mb-1 p-2">CSS</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Bootstarp 4</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Angular 9</div>
      <div class="badge badge-pill badge-success p-2 mt-1 mb-1">JQuery</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Electron</div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="heading text-center">Backend Frameworks</p>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Node js</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Springboot</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Android</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Express</div>
      <div class="badge badge-pill badge-success p-2 mt-1 mb-1">Hibernate</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-4 p-4">
      <p class="heading text-center">Databases</p>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">MySQL</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">SQLite</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Oracle</div>
      <div class="badge badge-pill badge-success p-2 mt-1 mb-1">Mongo DB</div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="heading text-center">Concepts</p>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Databse Managment System</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Software Engineering</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Data Structures</div>
      <div class="badge badge-pill badge-success mr-3 p-2 mt-1 mb-1">Operating Systems</div>
    </div>
  </div>
</div>
