<div class="container p-5">
  <h1 class="display-4">MY <span class="font-weight-bold text-pink">EXPERTISE</span></h1>

  <div class="row mt-5">
    <div class="col-sm-4 p-4">
      <p class="heading text-center">UI Technologies</p>
      <div class="badge badge-pill badge-success mr-3">CSS</div>
      <div class="badge badge-pill badge-success mr-3">Bootstarp 4</div>
      <div class="badge badge-pill badge-success mr-3">Angular 9</div>
      <div class="badge badge-pill badge-success">JQuery</div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="heading text-center">Backend Frameworks</p>
      <div class="badge badge-pill badge-success mr-3">Node js</div>
      <div class="badge badge-pill badge-success mr-3">Springboot</div>
      <div class="badge badge-pill badge-danger mr-3">Android</div>
      <div class="badge badge-pill badge-success mr-3">Express</div>
      <div class="badge badge-pill badge-danger mr-3">Electron</div>
      <div class="badge badge-pill badge-success">Hibernate</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-4 p-4">
      <p class="heading text-center">Databases</p>
      <div class="badge badge-pill badge-success mr-3">MySQL</div>
      <div class="badge badge-pill badge-warning mr-3">SQLite</div>
      <div class="badge badge-pill badge-success mr-3">Oracle</div>
      <div class="badge badge-pill badge-warning">Mongo DB</div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="heading text-center">Concepts</p>
      <div class="badge badge-pill badge-success mr-3">Databse Managment System</div>
      <div class="badge badge-pill badge-success mr-3">Software Engineering</div>
      <div class="badge badge-pill badge-danger mr-3">Data Structures</div>
      <div class="badge badge-pill badge-success mr-3">Operating Systems</div>
    </div>
  </div>
</div>
