.about-me-img-size {
  height: 70vh;
  width: 50vh;
  object-fit: cover;
}

.about-me {
  height: 100vh;
}

.heading {
  font-size: 2rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: var(--light-purple);
}

.about-me-text {
  font-size: 0.9rem;
}

.btn-grad {
  background: linear-gradient(to right, var(--purple), var(--light-purple));
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-grad:hover {
  background: linear-gradient(32deg, var(--light-purple), var(--purple), var(--pink));
  background-size: 800% 800%;
  animation: discoHover 3s ease infinite;
}

@keyframes discoHover {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .about-me-img-size {
    height: 50vh;
    width: 30vh;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .about-me {
    height: 100%;
    padding: 40px 0px 40px 0px;
  }
}
