<div class="container-fluid bg-light">
  <div class="container">
    <div class="row about-me">
      <div class="col-sm-6 center-pos">
        <div>
          <p class="heading text-center">About Me</p>
          <hr>
          <div class="about-me-text text-muted">
            <p>Hey stranger !!</p>
            <p>My name is Rishabh Malhotra, I am a Web developer and a Software Engineer. Currently I am pursuing my
              Bachelors of Engineering degree from Chitkara University, Punjab.</p>
            <p>Talking about my interests, Web, Computers and Cars always attracted me. I was the typical geek in school
              who loves breaking stuff just to see whats inside. After I finished my school I decided to pursue what I
              always dreamt of, that is being a software developer.
              I am an extremely motivated person always willing to learn something new no matter what it is, might hit
              you
              with some general knowledge facts if I like you. Meeting people like you always exites me listening to
              them
              their stories.</p>
            <p>Hey I wanna know you too, lets catch up</p>
          </div>

          <button type="button" class="btn rounded-0 btn-grad mt-4 mb-4">Contact Me</button>
        </div>
      </div>
      <div class="col-sm-6 center-pos">
        <img src="../../assets/me.jpg" class="img-fluid about-me-img-size shadow">
      </div>
    </div>
  </div>
</div>
