<div class="container-fluid black" style="padding: 12vh 0;">
    <div class="side-padding tech">
        <h1 class="display-3 text-capitalize raleway d-flex align-items-center">Tech stack</h1>

        <!-- <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/frontend.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span class="text-purple font-weight-bold">ui</span>
                                technologies</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">HTML</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">CSS</span>
                                <span class="badge badge-pill badge-success mr-3">SCSS</span>
                                <span class="badge badge-pill badge-success mr-3">bootstrap 4</span>
                                <span class="badge badge-pill badge-success mr-3">angular</span>
                                <span class="badge badge-pill badge-success mr-3">react</span>
                                <span class="badge badge-pill badge-success mr-3">javascript</span>
                                <span class="badge badge-pill badge-success mr-3">typescript</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/backend.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span
                                    class="text-voilet font-weight-bold">backend</span>
                                frameworks</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">node</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">django</span>
                                <span class="badge badge-pill badge-success mr-3">express</span>
                                <span class="badge badge-pill badge-success mr-3">sail.js</span>
                                <span class="badge badge-pill badge-success mr-3">java</span>
                                <span class="badge badge-pill badge-success mr-3">python</span>
                                <span class="badge badge-pill badge-success mr-3">springboot</span>
                                <span class="badge badge-pill badge-success mr-3">hibernate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/database.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span
                                    class="text-green font-weight-bold">database</span>
                                technologies</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">mySQL</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">SQLite</span>
                                <span class="badge badge-pill badge-success mr-3">Oracle</span>
                                <span class="badge badge-pill badge-success mr-3">Postgres</span>
                                <span class="badge badge-pill badge-success mr-3">MS SQL</span>
                                <span class="badge badge-pill badge-success mr-3">athena</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div> -->
    
        <div class="row mt-5 pt-3 pb-3">
            <div class="col-lg-4 tech-category p-3 border">
                <h4 class="text-uppercase c-heading">
                    <span class="text-purple font-weight-bold">ui</span> technologies
                </h4>

                <img src="../../../assets/illustrations/frontend.svg" class="img-fluid tech-img" />

                <div class="text-capitalize mt-5 text-center">
                    <div class="badge badge-pill badge-success mr-3">HTML</div>
                    <div class="badge badge-pill badge-success mr-3">CSS</div>
                    <div class="badge badge-pill badge-success mr-3">SCSS</div>
                    <div class="badge badge-pill badge-success mr-3">angular</div>
                    <div class="badge badge-pill badge-success mr-3">React</div>
                    <div class="badge badge-pill badge-success mr-3">javascript</div>
                    <div class="badge badge-pill badge-success mr-3">typescript</div>
                </div>
            </div>
            <div class="col-lg-4 tech-category p-3 border">
                <h4 class="text-uppercase c-heading">
                    <span class="text-voilet font-weight-bold">backend</span> frameworks
                </h4>

                <img src="../../../assets/illustrations/backend.svg" class="img-fluid tech-img" />

                <div class="text-capitalize mt-5 text-center">
                    <span class="badge badge-pill badge-success">node</span>
                    <span class="badge badge-pill badge-success ml-3 mr-3">django</span>
                    <span class="badge badge-pill badge-success mr-3">express</span>
                    <span class="badge badge-pill badge-success mr-3">sail.js</span>
                    <span class="badge badge-pill badge-success mr-3">java</span>
                    <span class="badge badge-pill badge-success mr-3">python</span>
                    <span class="badge badge-pill badge-success mr-3">springboot</span>
                    <span class="badge badge-pill badge-success mr-3">hibernate</span>
                </div>
            </div>
            <div class="col-lg-4 tech-category p-3 border">
                <div class="text-uppercase c-heading">
                    <span class="text-green font-weight-bold">database</span> technologies
                </div>

                <img src="../../../assets/illustrations/database.svg" class="img-fluid tech-img" />

                <div class="text-capitalize mt-5 text-center">
                    <span class="badge badge-pill badge-success">mySQL</span>
                    <span class="badge badge-pill badge-success ml-3 mr-3">SQLite</span>
                    <span class="badge badge-pill badge-success mr-3">Oracle</span>
                    <span class="badge badge-pill badge-success mr-3">Postgres</span>
                    <span class="badge badge-pill badge-success mr-3">MS SQL</span>
                    <span class="badge badge-pill badge-success mr-3">athena</span>
                </div>
            </div>
        </div>
    </div>
</div>