<div class="container-fluid black" style="padding: 12vh 0;">
    <div class="side-padding tech">
        <h1 class="display-3 text-capitalize raleway d-flex align-items-center">Tech stack</h1>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/frontend.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span class="text-purple font-weight-bold">ui</span>
                                technologies</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">HTML</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">CSS</span>
                                <span class="badge badge-pill badge-success mr-3">bootstrap 4</span>
                                <span class="badge badge-pill badge-success mr-3">angular</span>
                                <span class="badge badge-pill badge-success mr-3">javascript</span>
                                <span class="badge badge-pill badge-success mr-3">typescript</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/backend.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span
                                    class="text-voilet font-weight-bold">backend</span>
                                frameworks</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">node</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">django</span>
                                <span class="badge badge-pill badge-success mr-3">express</span>
                                <span class="badge badge-pill badge-success mr-3">java</span>
                                <span class="badge badge-pill badge-success mr-3">python</span>
                                <span class="badge badge-pill badge-success mr-3">springboot</span>
                                <span class="badge badge-pill badge-success mr-3">hibernate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/database.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span
                                    class="text-green font-weight-bold">database</span>
                                technologies</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">mySQL</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">SQLite</span>
                                <span class="badge badge-pill badge-success mr-3">Oracle</span>
                                <span class="badge badge-pill badge-success mr-3">Postgres</span>
                                <span class="badge badge-pill badge-success mr-3">MS SQL</span>
                                <span class="badge badge-pill badge-success mr-3">athena</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../../../assets/illustrations/big_data.svg" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="text-uppercase c-heading"><span
                                    class="text-blue font-weight-bold">big data</span>
                                technologies</div>
                            <div class="text-capitalize mt-5">
                                <span class="badge badge-pill badge-success">spark</span>
                                <span class="badge badge-pill badge-success ml-3 mr-3">hadoop</span>
                                <span class="badge badge-pill badge-success mr-3">python</span>
                                <span class="badge badge-pill badge-success mr-3">quicksight</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>