<!--Headline-->
<div class="headline position-relative">
    <!--Ball background-->
    <div id="ball-1"></div>
    <div id="ball-2"></div>
    <div id="ball-3"></div>

    <div class="text-uppercase headline-body raleway">
        <h1 class="display-1 font-weight-bold">
            rishabh<br>
            malhotra
        </h1>
        <h2 class="display-5 mt-5">software engineer / full-stack developer</h2>
    </div>

    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="black">
    <!--About me-->
    <app-about></app-about>
    <!--Experience-->
    <app-experience></app-experience>
    <!--Tech stack-->
    <app-tech></app-tech>
</div>
<!--Contact-->
<app-contact></app-contact>