<div class="project-head" id="project-head">
    <div class="side-padding" style="padding-top: 12vh; padding-bottom: 12vh;">
        <h1 class="display-1 project-heading">{{ contributions }}+</h1>
        <h1 class="display-3 text-uppercase project-subheading">
            contributions
            <br>in
        </h1>
        <h1 class="display-3 text-uppercase project-subheading text-green font-weight-bolder">personal,</h1>
        <h1 class="display-3 text-uppercase project-subheading text-voilet font-weight-bolder">professional</h1>
        <h1 class="display-3 text-uppercase project-subheading">projects</h1>

        <a href="https://github.com/rishabh091" target="_blank" class="btn text-uppercase rounded-0 github-link">visit my github</a>
    </div>
</div>