.parallax {
  height: 100vh;
  background-image: url(../../assets/bg/christian-perner-UKLIuV8rAks-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heading {
  height: inherit;
}

.heading-text {
  text-transform: uppercase;
}

.work {
  letter-spacing: 3px;
  word-spacing: 5px;
}

.text-purple {
  color: var(--purple);
}

.projects {
  position: relative;
  background: white;
  z-index: 10;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.project-name {
  font-size: 2rem;
}
.project-name:hover{
  color: var(--pink);
  text-decoration: underline;
}

.sub-heading {
  font-size: 0.8rem;
}

.ss {
  height: 50vh;
  object-fit: contain;
}

.git-icon {
  height: 50px;
}

.btn-back{
    position: fixed;
    left: 50px;
    top: 50px;
    font-size: 2rem;
    cursor: pointer;
}
.btn-back:hover{
    background: rgba(0, 0, 0, 0.3);
}

a{
    color: black;
    text-decoration: none;
}

.github-link{
  font-size: 1.2rem;
}
