<div class="parallax">
  <div class="container-fluid heading center-pos position-relative">
    <a class="material-icons btn-back p-2 rounded-circle" href="/">
      arrow_back_ios
    </a>
    <h1 class="display-3 heading-text p-3 position-fixed">My <span class="font-weight-bold text-purple work">Work</span>
    </h1>
  </div>
</div>

<div class="container-fluid projects pt-5 pb-5">
  <div class="container d-flex " style="flex-direction: column-reverse;">

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 gallery">
        <img src="../../assets/illustrations/undraw_my_app_grf2.svg" class="img-fluid p-2 ss">
      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <a class="project-name text-purple" href="https://github.com/rishabh091/Globe---My-own-news-app"
            target="_blank">Globe</a>
        </div>
        <p class="text-muted sub-heading text-right">A simple News Application</p>
        <p class="mt-4 text-right">It was my first time learning android, it was quite fun I made this simple yet
          sophisticated application in native android using a news api, The app is low on features not gonna lie but I
          am still proud of it, Thats the kind of quality I admire and work on that is learning new things, There is
          no
          age or limit to educate yourself.
        </p>
        <p class="text-right mt-4">
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Android</span>
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 gallery">
        <img src="../../assets/illustrations/undraw_gone_shopping_vwmc.svg" class="img-fluid p-2 ss">
      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <a class="project-name text-purple"
            href="https://github.com/rishabh091/Ecommerce-website-frontend/tree/master/src/app"
            target="_blank">Geekystore</a>
        </div>
        <p class="text-muted sub-heading text-right">An ecommerce web application</p>
        <p class="mt-4 text-right">This was my first time learning full-stack web development and I made a complete
          e-commerce website using Angular, Springboot, MySQL having features like Login, Signup, Access Management between user and the seller, price filter, search, Add or edit product for seller,
          Cart and Order History.
        </p>
        <p class="text-right mt-4">
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Angular 7</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Springboot</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">MySQL</span>
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 gallery">
        <img src="../../assets/illustrations/undraw_opinion_dxp8.svg" class="img-fluid p-2 ss">
      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <a class="project-name text-purple" href="https://github.com/rishabh091/Blog-Website-Frontend"
            target="_blank">Skyline</a>
        </div>
        <p class="text-muted sub-heading text-right">A blog posting web application</p>
        <p class="mt-4 text-right">A complete dynamic website I made after the Geekystore webapp. This webapp made me
          learn both frontend design and important backend features like email verification system. The website is
          completey made by using Angular 8, Springboot and MySQL and have features like login, signup, an otp
          verification system for enter mail during signup, home page where new trending blogs will pop up, blog
          creation, user followers and following system, blogs of users whom you followed will be also displayed on
          homepage as well as in their profile. Abiliy to make blogs private so their only your followers can see your
          blogs, blog editing, user detail editing, custom categories, ability to like and comment blogs.
        </p>
        <p class="text-right mt-4">
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Angular 7</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Springboot</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">MySQL</span>
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 gallery">
        <img src="../../assets/illustrations/undraw_audio_player_yty9.svg" class="img-fluid p-2 ss">
      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <a class="project-name text-purple" href="https://github.com/rishabh091/Orange-Music-Player"
            target="_blank">Orange</a>
        </div>
        <p class="text-muted sub-heading text-right">A cross platform desktop music player application</p>
        <p class="mt-4 text-right">Someone rightly said 'Necessity is mother of invention', I am a huge music head I
          listen to music all day, it is such a sweet thing but the absence of a simple music player always bugged me so
          I created this offline music player that can play music present in my computer, having functionalities like
          playlist creation and song skips and previous songs. The design is quite simple because it was my first time
          creating a desktop application. Being a web developer I thought to use javascript in this webapp and used
          Angular 8 and Electron to convert it into .exe file. The electron made it possible to use this application on
          Mac as well as Linux. Thats the beauty of being a programmer right, We can create any technology we want.
        </p>
        <p class="text-right mt-4">
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Angular 7</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Electron Js</span>
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-6 gallery">
        <img src="../../assets/illustrations/undraw_digital_currency_qpak.svg" class="img-fluid p-2 ss">
      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <a class="project-name text-purple" href="https://github.com/rishabh091/Crypto" target="_blank">Crypto</a>
        </div>
        <p class="text-muted sub-heading text-right">Automated bot to trade cryptocurrencies</p>
        <p class="mt-4 text-right">
          I made it during lockdown due to Covid-19, everyone was busy making covid-trackers. I wanted
          to do something different so made this. Its an automated bot made using Node js currently functioning on
          dummy APIs so that I won't loose money. It will check and trade cryptocurrencies and save the data so that
          I can see its performance soon that how much profit / loss it made during a week. The project made me
          familiar with asynchronous programming in node js and made me understand the concepts of synchronization
          and threads.
        </p>
        <p class="text-right mt-4">
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Node js</span>
          <span class="badge badge-pill badge-success p-2 ml-2 mr-2">Mongo DB</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container center-pos projects">
  <a href="https://github.com/rishabh091?tab=repositories" class="btn border p-2" target="_blank">
    <img src="../../assets/icons/github.png" class="img-fluid git-icon">
    <span class="ml-3 github-link font-weight-bold">See all my <span class="text-success">Github</span>
      contributions</span>
  </a>
</div>

<app-component-footer></app-component-footer>
