/* You can add global styles to this file, and also import other style files */

:root {
  /* CSS color variables for default mode*/
  --super-black: #171717;
  /* Accent colors */
  --blue: #00C1D4;
  --green: #28FFBF;
  --voilet: #5C33F6;
  --purple: #A239EA;

  --text-color: white;
}

/* Setting default font as Roboto */
* {
  font-family: 'Roboto', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.black {
  background-color: var(--super-black);
  color: var(--white);
}
.green {
  background-color: var(--green);
  /* color: var(--white); */
}
.text-voilet {
  color: var(--voilet);
}
.text-green {
  color: var(--green);
}
.text-purple {
  color: var(--purple);
}
.text-blue {
  color: var(--blue);
}

div {
  cursor: default;
}

.side-padding {
  padding: 0 10%;
}
@media screen and (max-width: 700px) {
  .side-padding {
    padding: 0 5%;
  }
}