<div class="container-fluid black" style="padding-bottom: 12vh">
    <div class="side-padding">
        <div class="raleway experience-text">
            <h1 class="display-1 experience-heading">1+</h1>
            <h1 class="display-3 text-uppercase experience-subheading">years of experience
                <br>in
                <br>creating
            </h1>
            <h1 class="display-3 text-uppercase experience-subheading text-purple font-weight-bolder">robust</h1>
            <h1 class="display-3 text-uppercase experience-subheading text-blue font-weight-bolder">scalable</h1>
            <h1 class="display-3 text-uppercase experience-subheading text-green font-weight-bolder">maintainable
                <span class="text-white font-weight-light">applications</span>
            </h1>
        </div>
    </div>
</div>